/* Reset */
img {
  max-width: 100%;
  vertical-align: top;
}

input {
  all: unset;
}

/* Components */
body {
  background-color: #98cee8;
}

.choice {
  width: 600px;
  margin: 100px auto;
  display: flex; 
  gap: 20px;
}

.choice-item {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
}

.choice-item-icon {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #caf0ff;
  display: block;
  overflow: hidden;
}

/* 
  + 인접 형제 콤비네이터는 다음 나오는 마크업 대상만 됨 (~이것도 그렇습니다.) 
  그래서 :has() 사용! -> input:checked를 가지고 있는 .choice-item을 선택! 
*/
.choice-item:has(input:checked) img {
  transform: scale(0.8) translateY(0) rotate(10deg);
}

.choice-item-icon img {
  transition: all .4s;
  transform: scale(0.4) translateY(280px) rotate(0);
}
